.title-row {
    margin-bottom: 100px;
}

.widget {
    box-shadow: 5px 10px 10px -8px rgba(66, 68, 90, 1);
}

.widget-header {
    text-align: right;
    margin-bottom: 40px;
}

.latest-grades-table {
    min-height: 150px;
}

.latest-grades-table .loading {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 45%;
    top: 50%;
}