.nav-menu {
    height: 100vh;
    background-color: #503FBF;
    color: #ffffff;
}

.nav-menu-list {
    height: 100vh;
    margin-top: 20px;
    padding: 0;
    background-color: #503FBF;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-menu-list .list-item {
    height: 60px;
    background-color: #503FBF;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-menu-list .list-item #active {
    background-color: rgb(21, 21, 42);
}

.nav-menu-list .list-item:hover {
    cursor: pointer;
    background-color: #7162D9;
}

.list-item #icon {
    flex: 30%;
    display: grid;
    place-items: center;
    margin: 0;
}

.list-item #title {
    flex: 70%;
    margin: 0;
}

.main-column-styles {
    position: fixed;
    top: 0;
    left: 260px;
}

.logged-user {
    text-align: center;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
}