.nav-menu {
    height: 100vh;
    background-color: #503FBF;
    color: #ffffff;
}

.nav-menu-list {
    margin-top: 20px;
    padding: 0;
    background-color: #503FBF;
}

.nav-menu-list .list-item {
    height: 60px;
    background-color: #503FBF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-menu-list .list-item.list-item-category {
    height: auto;
    flex-direction: column;
    cursor: default;
}

.nav-menu-list .list-item.list-item-category .nav-menu-sublist {
    width: 100%;
}

.nav-menu-sublist .loading {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    left: 50px;
}

.nav-menu-list .list-item div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.nav-menu-list .list-item #active {
    background-color: rgb(21, 21, 42);
}

.nav-menu-list .list-item:not(.list-item-category):hover {
    cursor: pointer;
    background-color: #7162D9;
}

.list-item #icon {
    flex: 30%;
    display: grid;
    place-items: center;
    margin: 0;
}

.list-item #title {
    flex: 70%;
    margin: 0;
}

.main-column-styles {
    position: fixed;
    top: 0;
    left: 260px;
}

.logged-user {
    text-align: center;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
}